@using GearShop.Data
@using GearShop.Models
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _context

@{
	var productTypeList = _context.productTypes.Include(a => a.Brands.Where(a => a.Status == 1)).Include(a => a.Products).Where(a => a.Status == 1).ToList();
}
<style>
    .brand-dropdown {
        top: 0;
        left: 100%;
        display: none;
        z-index: 1050;
    }

    .nav-item.dropdown:hover .brand-dropdown {
        display: block;
    }

    .navbar-nav {
        position: relative;
        z-index: 100;
    }
</style>


<div class="col-lg-3 d-none d-lg-block">
	<a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 20px;">
		<h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Doanh mục</h6>
		<i class="fa fa-angle-down text-dark"></i>
	</a>
	<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
		<div class="navbar-nav w-100">

			@foreach (var item in productTypeList)
			{
                <div class="nav-item dropdown position-relative">
                    <div class="d-flex align-items-center justify-content-between">
                        <!-- Link loại sản phẩm -->
                        <a asp-controller="Customerproducts" asp-action="Index"
                           asp-route-typeId="@item.Id"
                           class="text-dark flex-grow-1 px-3 py-2" style="text-decoration: none;">
                            @item.TypeName
                        </a>

                        <!-- Nút hiện brand -->
                        <a href="#" class="text-primary px-2 py-2 dropdown-toggle"
                           data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                           style="white-space: nowrap; text-decoration: none;">
                            (@item.Products.Count()) <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                    <!-- Dropdown thương hiệu -->
                    <div class="dropdown-menu brand-dropdown position-absolute">
                        @foreach (var b in item.Brands)
                        {
                            <a asp-controller="Customerproducts" asp-action="Index"
                               asp-route-typeId="@item.Id" asp-route-brandId="@b.Id"
                               class="dropdown-item">
                                @b.BrandName (@(_context.products.Count(p => p.BrandId == b.Id && p.ProductTypeId == item.Id)))
                            </a>
                        }
                    </div>
                </div>
			}

		</div>
	</nav>
</div>